<!DOCTYPE html>

<head>
    <link rel="stylesheet"  href="./css/styles.css" >
    
</head>

<body>
    {{>header}}
    <img src ="/image/my_img.jpg" >
    <img src ="/image/my_image1.jpg" >
    {{>footer}}
</body>


</html>