<!DOCTYPE html>

<head>
    <link rel="stylesheet"  href="./css/styles.css" >
    
</head>

<body>
    {{>header}}
    <p> {{info}}</p>
    <p>This website was developed using darksky.net for forecast and mapbox for geolocating. </p>
    {{>footer}}
</body>


</html>